src/main/mule/new-file-proj-to-try.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b559696a-8be9-4625-878d-354c9ff06acd" >
		<db:mssql-connection host="localhost" port="1433" user="joni" password="123456" databaseName="ethiopia" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="e801b45b-3c2b-4ec4-962d-e1256f373ebe" >
		<file:connection workingDir="C:\Users\hailu\OneDrive\Documents\Input" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="2150c3b0-7424-4666-aecd-d5154a57b8f5" >
		<file:connection workingDir="C:\Users\hailu\OneDrive\Documents" />
	</file:config>
	<flow name="batch-error-handlingFlow" doc:id="4d608c43-1575-4411-9fff-0fd1d2d2e188" >
		<file:listener doc:name="On New or Updated File" doc:id="d89da3a2-1f89-4aff-9de4-1b272a8be137" config-ref="File_Config" autoDelete="true" moveToDirectory='C:\Users\hailu\OneDrive\Documents\Backup' renameTo='#[attributes.filename]'>
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="75cf802f-f1f8-48aa-8e5a-25fdbe122e25" variableName="set" />
		<batch:job jobName="batch-error-handlingBatch_Job" doc:id="ba810d7b-df75-42d1-93a8-973bbc6ce205" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="64984f4c-e787-4732-aff2-7aa5d63498b3" >
					<set-payload value="#[vars.set]" doc:name="Set Payload" doc:id="eae79b88-6996-4587-9937-d3a759f3dcb2" />
					<ee:transform doc:name="Transform Message" doc:id="284115ce-6645-4a97-a569-36328b22a105">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id,
	Name: payload01.Name,
	Email: payload01.Email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
					<db:bulk-insert doc:name="Bulk insert" doc:id="6d5e594a-7200-42a2-ae0b-f660a1478962" config-ref="Database_Config">
						<db:sql ><![CDATA[insert into batchjob(Id,Name,Email) values(:Id,:Name,:Email)]]></db:sql>
					</db:bulk-insert>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="997425fe-3fe7-4d68-9b23-5ee955102259" acceptPolicy="ONLY_FAILURES">
					<ee:transform doc:name="Transform Message" doc:id="af469a2c-5ea8-4149-8007-c6a304b1c013">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id,
	Name: payload01.Name,
	Email: payload01.Email
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<file:write doc:name="Write" doc:id="352f4f3c-4741-4112-a073-0fc90e35198c" config-ref="File_Config1" path="C:\Users\hailu\OneDrive\Documents\failure\New Text Document.txt"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="f3d8c7a4-af52-4cf7-bf6c-339425fa65b0" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="a4111396-28cb-4840-83c5-a0b3a23aaf38" message="#[payload] ++ #[vars.set]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="d8da8667-f5cf-4588-ab1f-b4e69b9d078d" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
